.containerHome{
    padding: 10px;
    margin: 10px;
}

.formOrg{
    align-items: center;
    justify-content: center;
    display: flex;
}

.title{
    text-align: center;
}

.form{
   flex-direction: column;
   display: flex;
   border-color: rgb(133, 132, 132);
   border: 2px;
   border-style: solid; 
   width: 50%;
   padding: 20px;
   border-radius: 10px;
}

.input{
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
}

.labelInput{
    justify-content: flex-start;
    display: flex;
    margin-bottom: 5px;
    font-size: 20px;
}

input[type='file']{
    display: none;
}

.upload{
    background-color: rgb(18, 85, 230);
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    color: #FFF;
    transition: all 0.2s;
    cursor: pointer;
    
}

.upload:hover{
    width: 155px;
    height: 55px;
    position: relative;
}

.uploadContainer{
    display: flex;
    align-items: center;
    gap: 10px;

}

.btnEnviar{
    height: 50px;
    width: 80px;
    margin-top: 30px;
    border: transparent;
    background-color:  rgb(2, 190, 59);
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    
}

.btnEnviar:hover{
    background-color: rgb(68, 117, 223);
}

.infoFile{
   display: flex;
   flex-direction: column;
   border-style: solid;
   border-color: rgb(153, 152, 152);
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 10px;
   margin-top: 10px;
   width: 40%;
   margin-left: 28%;
}

.labelFile{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnForm{
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: row;
}

.btnSeeFile{
    width: 100px;
    height: 50px;
    border: transparent;
    color: #FFF;
    background-color: rgb(16, 185, 44);
    border-radius: 10px;
    margin: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.btnSeeFile:hover{
    width: 110px;
    height: 52px;
    background-color: rgb(73, 206, 95);
}

.btnClose{
    height: 50px;
    width: 100px;
    color: #FFF;
    border: transparent;
    background-color: rgb(207, 74, 74);
    border-radius: 10px;
    font-size: 20px;
    margin-left: 66%;
    margin-top: 10px;
    cursor: pointer;
}

.btnClose:hover{
    background-color: rgb(226, 79, 79);
}

